<%= render 'shared/page_title', title: 'All Recipes' %>
<hr>

<% @recipes.each do |recipe| %>
  <div class = "row">
    <div class = "col-md-2 center">
      <section class = "chef_info center">
        <%= gravatar_for recipe.chef, size: 140 %>
        <h5>Chef name: <%= recipe.chef.chefname %></h5>
      </section>
    </div>
    <div class = "col-lg-6 well row <%= cycle('blend-blue','blend-reef') %>">
      <h4><%= link_to recipe.name, recipe_path(recipe), class: "color-white" %></h4>
      <p><%= recipe.summary %></p>
        <p>
          <span class = "quiet"><small><%= time_ago_in_words(recipe.created_at) %> ago</small></span>
        </p>
    </div> 
    <div class = "col-md-4 mar-left ">
      <%= image_tag(recipe.picture.url, size: '400x140', class: "gravatar") if recipe.picture? %>
    </div>
  </div>
  <hr>
<% end %>